<footer>
  <br>
  <div class="bg-dark text-white align-middle" style="height: 80px;">
    <br>
    <div class="row">
      <div class="col-3 offset-1">
        <p class="text-left text-info font-weight-bold font-italic">DEVELOPMENT VERSION</p>
      </div>
      <div class="col-4"><p class="text-center">Interfaces, <%= this_year %></p></div>
    </div>
  </div>
</footer>