<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="container-fluid" style="margin-top:20px; width: 85%;">
      <div class="container-customer bg-3">
        <div class="col-sm-12 row">
          <div class="col-xs-3" style="padding-top: 10px;">
            <label>Paste url to source file (.png,.jpg, or .PDF): </label>
          </div>
          <div class="col-xs-8" style="text-align: left; padding-left: 0;">
            <input class="form-control-custom" id="imagePath" style="width: 100%;" >
          </div>
          <div class="col-xs-1">
            <button id="recog-button" class="btn btn-default" ><b>recognize</b></button>
          </div>
          
        </div>
      </div>
      <div class="container-customer bg-3">
        <div class="col-sm-12 row">
          <div class="col-xs-6" style="padding-top: 50px;">
            <div id="imagePanel" class="borderspanblue">
              <div class="imagearea">
                  <h3 style="margin-top: 1px;">Preview</h3>
              </div>
              <div style="padding: 15px;">
                  <img src="./images/no-image.png" onerror="javascript:this.src='./images/no-image.png'" id="previewImage" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="col-xs-6" style="padding-top: 50px;">
            <div id="resultPanel" class="borderspangreen">
              <div class="resultarea">
                <h3 style="margin-top: 1px;">Result</h3>
              </div>
              <div style="padding: 15px;">
                <textarea type="text" style="resize: vertical; width: 100%; height: 100%;" class="form-control-custom" id="resultViewer" ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
<script src="./javascripts/receipt-recog.js"></script>
</html>
