<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="container-fluid" style="margin-top:20px; width: 85%;">
      <div class="container-customer bg-3">
        <div class="col-sm-12 row">
          <div class="col-xs-3" style="text-align: right; padding-top: 10px;">
            <label>Paste url to source file (.png,.jpg,.webp or .PDF): </label>
          </div>
          <div class="col-xs-9" style="text-align: left; padding-left: 0;">
            <input class="form-control-custom" style="width: 100%;" >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
<script>
var changeBookkeeperTable = new BSTable("bookkeeper-table", {
  editableColumns:"1,2",
  onEdit:function() {
    // console.log("EDITED");
  },
  advanced: {
    columnLabel: ''
  }
});
changeBookkeeperTable.init();
</script>
</html>
