body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 40px;
  margin-bottom: 10px;
}

a {
  color: #00B7FF;
}

.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translatex(-50%);
}

.navbar-right {
  float: right!important;
  margin-right: -15px;
  position: absolute;
  right: 2%;
  top: 0;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: #343a40;
}

/* .navbar-nav  li a:hover {
  color: #1abc9c !important;
} */
/* .active>a {
  color: #1abc9c !important;;
} */

.modal-margin {
  margin-bottom: 20px;
  margin-top: 15px;
}

a.paginate_button {
  padding: 5px 12px;
  border: 1px solid;
  border-radius: 5px;
  margin: 0 3px;
  text-decoration: none;
  cursor: pointer;
}

.dataTables_length {
    display: inline-block;
    float: left;
}

.dataTables_filter {
  display: inline-block;
  float: right;
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
  position: relative;
  margin: 0 auto;
}

.small-loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
  position: relative;
  margin: 0 auto;
  display: inline-block;
}

.dot-loader {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #3498db;
  position: relative;
  -webkit-animation: 1.2s grow ease-in-out infinite;
  animation: 1.2s grow ease-in-out infinite;
  display: inline-block;
}

.dot-loader--2 {
  -webkit-animation: 1.2s grow ease-in-out infinite 0.15555s;
  animation: 1.2s grow ease-in-out infinite 0.15555s;
  margin: 0 3px;
}
.dot-loader--3 {
  -webkit-animation: 1.2s grow ease-in-out infinite 0.3s;
  animation: 1.2s grow ease-in-out infinite 0.3s;
}

.selected {
  background-color: #acbad4 !important;
}

#leverance-oversigt-table_paginate, #time-spent-table_paginate, #time-entry-table_paginate {
  height: 40px;
}
#leverance-oversigt-table_processing, #time-spent-table_processing, #time-entry-table_processing {
  z-index: 10;
}

.dropdown-menu.open {
  max-height: 250px !important;
}

.link-btn:after {
  content: ' \00BB';
}

.nav-tabs>li>a {
  color: #6b859f;
  padding: 10px 13px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #555 !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.bg-dark {
  background-color: #343a40 !important;
}

.my-brand {
  padding: 15px 25px;
  margin: -12px;
  font-size: 19px;
  color: #fff;
}

.my-dropdown {
  padding: 3px 25px;
  margin: -15px;
  font-size: 16px;
}
.my-dropdown-menu {
  border-radius: 5px !important;
  margin-top: -10px !important;
  margin-left: 35px !important;
  font-size: 15px;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.dropdown-menu>form>li>a:focus, .dropdown-menu>form>li>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu>form>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.navbar-inverse .navbar-nav>li>form>a {
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav>li>form>a:focus, .navbar-inverse .navbar-nav>li>form>a:hover {
  color: #fff;
  background-color: transparent;
}

.nav-tabs {
  overflow-x: auto;
  overflow-y:hidden;
  flex-wrap: nowrap;
}
.nav-tabs .nav-link {
 white-space: nowrap;
}

.modal-footer {
    padding: 10px 15px;
}

#editModal .modal-dialog {
  width: 80%;
}

#auditModal .modal-dialog {
  width: 80%;
}

.form-control-custom {
  display: inline-block;
  /* width: 40%; */
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.borderspanblue {
  border: solid 1px #053664;
  height: 60vh;
}

.borderspangreen {
  border: solid 1px #037455;
  height: 60vh;
}

.imagearea {
  margin: 0 13px 5px 13px;
  background-color: #053664;
  border-color: #053664;
  color: #fff;
  text-align: center;
}

.resultarea {
  margin: 0 13px 5px 13px;
  background-color: #037455;
  border-color: #037455;
  color: #fff;
  text-align: center;
}

.img-responsive {
  display: block;
  float:left; 
  height:100%; 
  width:100%; 
  background-color: #eee; 
  object-fit: contain;
}
#resultViewer {
  width: 100%;
  white-space: pre-wrap;
  text-align: left;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  line-height: 1.5;
}

.highlight_amount {
  color: white;
  background-color: #052506;
}

.highlight_string {
  color: white;
  background-color: #040547;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}